@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(49, 49, 49);
}

.rw-words-1 span {
  position: absolute;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
  font-size: 3.5rem;
}
.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}
.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
}
.rw-words-1 span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.rw-words-1 span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
}
@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .rw-sentence {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px) {
  .rw-sentence {
    font-size: 9px;
  }
}

.hero-text {
  padding: 20px;
  letter-spacing: 3px;
  line-height: 3.75rem;
  font-weight: 600;
  font-size: 3.5rem;
}

.home-page-hero {
  background-color: rgba(0, 184, 113, 0.55);
  height: 38vh;
}

.home-page-semi-circle-top {
  width: 45vh;
  height: 55vh;
  position: absolute;
  top: 30vh;
  right: 0;
  transform: translateX(50%);
  border-radius: 100%;
  z-index: 0;
  overflow: hidden;
}

.inner-circle-top {
  background-color: rgba(255, 255, 105, 0.849);
  height: 44%;
  width: 200rem;
}

@media screen and (max-width: 700px) {
  .home-page-semi-circle-top {
    width: 35vh;
    height: 40vh;
  }
  .rw-words-1 span {
    font-size: 2rem;
  }
  .home-page-hero {
    height: 30vh;
  }
  .hero-text {
    font-size: 2rem;
    line-height: 43px;
  }
}
@media screen and (max-width: 520px) {
  .home-page-semi-circle-top {
    width: 30vh;
    height: 35vh;
  }
}
@media screen and (max-width: 400px) {
  .home-page-semi-circle-top {
    width: 25vh;
    height: 30vh;
  }
}
@media screen and (max-width: 300px) {
  .home-page-semi-circle-top {
    display: none;
  }
}

/* Countdown */
.countdown-body {
  background: url('https://images.pond5.com/christmas-background-loop-cartoon-animation-footage-082913045_iconl.jpeg')
    no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 105);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  padding: 20px;
}

.countdown-body .countdown-header {
  font-size: 20px;
  letter-spacing: 5px;
  width: 86%;
  text-align: center;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-top: 50px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  font-size: 33px;
  border-radius: 5px;
  backdrop-filter: blur(20px);
}

.days p,
.hours p,
.minutes p,
.seconds p {
  font-size: 13px;
  letter-spacing: 3px;
  margin-top: 13px;
  color: rgb(0, 184, 113);
  text-align: center;
}

@media screen and (min-width: 800px) {
  .countdown-body .countdown-header {
    font-size: 23px;
    letter-spacing: 10px;
    margin-top: 10px;
    margin-bottom: 70px;
  }

  .countdown {
    width: 60%;
  }

  .box {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }

  .days p,
  .hours p,
  .minutes p,
  .seconds p {
    font-size: 15px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 1350px) {
  .countdown {
    width: 76%;
  }

  .box {
    width: 140px;
    height: 140px;
    font-size: 80px;
  }
}

/* Launch Overview */
.launch-info {
  padding: 14px;
}

.launch-info h1,
.launch-info h4 {
  text-align: center;
  overflow: hidden;
}

.launch-info h1 {
  letter-spacing: 7px;
  margin-top: 8px;
}

.launch-info h4 {
  letter-spacing: 4px;
  padding: 5px;
}

.launch-info p {
  font-size: 20px;
  letter-spacing: 1px;
}

.orange-text {
  color: rgb(255, 255, 105);
}

.launch-overview {
  background-color: rgba(0, 184, 113, 0.55);
}

.workout-info {
  background-color: rgba(255, 255, 105, 0.849);
}

.music-info {
  background-color: rgba(0, 184, 113, 0.55);
}

.timer-info {
  background-color: rgba(255, 255, 105, 0.849);
}
.launch-info i {
  display: inline;
  padding: 1rem;
}


@media screen and (min-width: 800px) {
  .launch-info {
    padding: 45px;
  }
}

@media screen and (max-width: 440px) {
  .launch-info i {
    display: none;
  }
}
